@use 'styles/index' as *;

.container {
  overflow: hidden;
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: var(--canvas-primary);
}

.title {
  @include h1;
  color: var(--brand-default);
}

.sub_title {
  @include h2;
  color: var(--ink-primary);
}

.text {
  @include body-bold;
  color: var(--ink-tertiary);
  margin-bottom: var(--space-lg);
  margin-top: var(--space-xs);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
