@use 'styles/index' as *;
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  min-height: 100vh;
  gap: 16px;
}

.title_wrapper {
  max-width: 600px;
}

.title {
  @include h1-44();
  margin-bottom: 16px;
}
.sub_title {
  @include h5-18();
  color: var(--color-textMuted);
  margin-bottom: 48px;
}

.title_orange {
  color: var(--color-accent);
}
.button_group {
  display: inline-flex;
  gap: 16px;
}

.themeToggle {
  position: fixed;
  top: var(--space-3);
  right: var(--space-3);
}
