@use 'styles/index' as *;
.container {
  align-items: center;
  text-align: center;
  display: grid;
  place-items: center;
}

.title_wrapper {
  max-width: 600px;
}

.title {
  @include h1-44();
  margin-bottom: 16px;
}
.sub_title {
  @include h5-18();
  color: var(--color-textMuted);
  margin-bottom: 48px;
}

.title_orange {
  color: var(--color-accent);
}
.button_group {
  display: inline-flex;
  gap: 16px;
}

.themeToggle {
  position: fixed;
  top: var(--space-3);
  right: var(--space-3);
}
