@use 'styles/index' as *;

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  height: calc(100vh - 160px);
  margin: 80px;
  margin-right: 60px;
  padding: 0;

  background: var(--bg-surface);
  backdrop-filter: blur(30px);
  border: 1px solid var(--border-strong);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-container);

  @media (max-width: 1024px) {
    margin: 75px;
    margin-right: 16px;
    // height: calc(100vh - 80px);
  }

  @media (max-width: 768px) {
    margin: 60px 10px 16px 45px;
    height: calc(100vh - 70px);
    border-radius: var(--radius-md);
  }
}

.tabsWrapper {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
