@use 'styles/index' as *;

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100vh - 160px);
  margin: 80px;

  border: 1px solid var(--border-default);
  border-radius: var(--radius-lg);
}

.tabsWrapper {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}
