// app.scss — только использование, не forward!

@use 'variables' as *;
@use 'breakpoints' as *;
@use 'mixins' as *;
@use 'typography' as *;
@use 'theme' as *;

// Сначала сбрасываем базовый размер (ВАЖНО: до использования rem!)
html {
  min-height: 0;
  font-size: 10px !important;

  @supports (scroll-behavior: smooth) {
    scroll-behavior: smooth;
  }
}

html,
body {
  height: 100%;
  max-height: 100vh;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #1a1f3e 0%, #2d1f4e 50%, #1a1f3e 100%);
  min-height: 100vh;
  // background-color: var(--brand-soft);
  color: var(--ink-primary);
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  min-height: 100dvh;
  margin: 0 auto;

  @include body;

  &.locked {
    overflow: hidden;
    padding-right: var(--scrollbar-width-lock);
  }
}

main {
  height: max-content;
  @include body;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

h6,
h5,
h4,
h3,
h2,
h1,
p {
  margin: 0;
}

body[data-scroll-locked] {
  overflow: hidden;
  padding-right: var(--scrollbar-width-lock);
}
