@forward 'typography'; // делает миксины доступными при импорте
@forward 'mixins';
@forward 'breakpoints';
@forward 'variables';
@use './typography' as *;
@use './mixins' as *;
@use './breakpoints' as *;
html,
body {
  height: 100%;
  max-height: 100vh;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-bg);
}

/**
 * 1. Safari resize fix.
 * 2. Set default text size as 10px.
 */
html {
  font-size: 62.5%; // 16px * 0.625 = 10px

  min-height: 0;
  @supports (scroll-behavior: smooth) {
    scroll-behavior: smooth;
  }
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
  background: var(--color-bg);
  min-height: 100vh;
  margin: 0 auto;

  @include inter;

  &.locked {
    overflow: hidden;
    padding-right: var(--scrollbar-width-lock);
  }
}

main {
  height: max-content;

  /* padding: var(--header-height) 0 0; */
  font-family: var(--inter);

  @include body;
}

// TODO: В firefox при указании min-height: 100vh footer находится сразу после конца экрана - найти решение

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

h6,
h5,
h4,
h3,
h2,
h1,
p {
  margin: 0;
}

body[data-scroll-locked] {
  overflow: hidden;
  padding-right: var(--scrollbar-width-lock);
}
