@use 'variables' as *;
@use 'breakpoints' as *;
@use 'mixins' as *;
@use 'typography' as *;
@use 'theme' as *;

html {
  min-height: 0;
  font-size: 10px !important;

  @supports (scroll-behavior: smooth) {
    scroll-behavior: smooth;
  }
}

html,
body {
  height: 100%;
  max-height: 100vh;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--bg-gradient);
  color: var(--text-primary);

  transition:
    background 0.3s ease,
    color 0.3s ease;
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  min-height: 100dvh;
  margin: 0 auto;

  @include body;

  &.locked {
    overflow: hidden;
    padding-right: var(--scrollbar-width-lock);
  }
}

main {
  height: max-content;
  @include body;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

h6,
h5,
h4,
h3,
h2,
h1,
p {
  margin: 0;
}
input,
textarea,
select {
  font-size: 16px;
}
body[data-scroll-locked] {
  overflow: hidden;
  padding-right: var(--scrollbar-width-lock);
}
