@use 'styles/index' as *;
.wrapper {
  display: grid;
  place-items: center;
  height: 100%;
}
.title {
  margin-bottom: 1rem;
  text-align: center;
  color: var(--color-accent);
}
.sub_title {
  text-align: center;
  color: var(--color-textMuted);
  margin-bottom: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  margin: 15px 0 10px;
}

.footer_text {
  @include body();
  color: var(--color-textMuted);
}
.link {
  margin: 0 auto;
  color: var(--color-accent);
  @include nav-link();
}
